@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
  padding:0;
  margin: 0;
  box-sizing: border-box;

}
body
{
  height:100vh;
}
.background
{
   background-image: url("./edusity_assets/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.background2
{
background-color: rgba(0, 0, 139, 0.35);
}
.back
{
  width:700px;
}

.height1
{
  animation-name: height1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  margin-top: 220px;

}



 
.height2
{
  animation-name: height2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  height:60px;
}

@keyframes height2
{
  0%
{
  opacity:0;
}
100%
{
  opacity: 1;
}
}
.height2 p
{
  cursor: pointer;
}

.back-12
{
  height:100%;
}
.pound:nth-child(1)
{
  background-image: url("./edusity_assets/program-1.png");
  background-position: center;
  background-size: cover;
  height:320px;
  width:320px;
  background-color: black;
}
.pound:nth-child(2)
{
  background-image: url("./edusity_assets/program-2.png");
  background-position: center;
  background-size: cover;
  height:320px;
  width:320px;
}
.pound:nth-child(3)
{
  background-image: url("./edusity_assets/program-3.png");
  background-position: center;
  background-size: cover;
  height:320px;
  width:320px;
}

.width1
{
  width:900px;
}
.back10
{
  background-image: url("./edusity_assets/about.png");
  background-position: center;
  background-size:cover;
}

.round1:nth-child(1)
{
  background-image: url("./edusity_assets/gallery-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.round1:nth-child(2)
{
  background-image: url("./edusity_assets/gallery-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.round1:nth-child(3)
{
  background-image: url("./edusity_assets/gallery-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.round1:nth-child(4)
{
  background-image: url("./edusity_assets/gallery-4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel
{
}
.overflow-hidden
{
width:1025px;
height:219px;
background-color: white;
height: 250px;
}
.card
{
  width:500px;
}

.card p
{
  width:450px;
}

input,textarea
{
  width:500px;
}

input::placeholder
{
color:black;
}

textarea::placeholder
{
color:black;
}

.border-t-2
{
width:1300px;
}
.back1
{
transition: all 150ms linear;
cursor:pointer;
}
.back25
{
  opacity: 0;
   margin-top: 130px;
  transition: all 250ms linear;
}
.back1:hover
{
  background-color: rgba(0, 0, 139, 0.35);
}
.back1:hover .back25
{
  margin-top: 0px;
  opacity: 1;
}
.brick2
{
  display: none;
}
@media (max-width:414.40px)
{
  body
  {
    width:414px;
    overflow-x: hidden;
  }
.height2
{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width:414.40px;
}
.brick
{
  flex-direction: column;
  position: fixed;
  height:500px;
  width:414.40px;
  background-color:rgba(0, 0, 255, 0.8);
  top:80px;
  left: -10px;
  overflow: hidden;
  z-index:2;
  backdrop-filter: blur(18.5px);
  border-radius: 10px;
}
.brick2
{
  display: flex;
  position: fixed;
  left:360px;
  cursor: pointer;
  z-index: 2;
}
.class1
{
  position: relative;
  bottom:90px;
}
.brick3
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:414.40px;
}
.brick4
{
  display: flex;
  flex-direction:column-reverse;
  text-align: center;
  width:414.40px;
  justify-content: space-between;
  height:1000px;
}
.brick5
{
  display: flex;
  flex-direction: column;
}
.brick6
{
  display: flex;
  flex-direction: column;
  width:414.40px;
  align-items: center;
  justify-content: center;
  gap:45px;
}
form
{
  display: flex;
  justify-content: left;
}
form input
{
  width:410px;
}
form label
{
  width:410px;
}
form textarea
{
  width:410px;
}
.brick7
{
  display: flex;
  overflow: scroll;
  height:220px
}
.brick9
{
  position:absolute;
  display: none;
  z-index: 2;
}
.brick9:nth-child(1)
{
  left: 1px;
}
.brick9:nth-child(2)
{
right:0px;
}
.brick7::-webkit-scrollbar
{
display: none;
}
.brick10
{
  z-index:1;
}
.brick11
{
  z-index:2;
}
.brick12
{
  z-index:3;
}
}